.toggleLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.link {
  width: 20vw;
  display: flex;
  align-items: center;
  gap: 3rem;
  font-size: 1.2rem;
  padding-left: 3rem;
  border-right: 2px solid whitesmoke;
}
.link:hover {
  background: #65d3ce;
  border-right: 2px solid blue;
  border-radius: 0.2rem;
}
